<button id="{{id}}" type="button" onclick="press(this)"
        class="h-10 w-10 flex justify-center items-center cursor-pointer focus:outline-none"
        {{#if disabled}}disabled{{/if}}>
    {{{icon}}}
</button>
