<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link href="output.css" rel="stylesheet">
        <script src="toprs.js"></script>
    </head>
    <body>
        <noscript>This page requires JavaScript to work, please enable it in your browser's settings.</noscript>
        <div id="content">{{content}}</div>
    </body>
</html>
