<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link href="static/style.css" rel="stylesheet">
        <script src="static/toprs.js"></script>
    </head>
    <body>
        <noscript>This page requires JavaScript to work, please enable it in your browser's settings.</noscript>
        <div class="px-3 py-10 bg-gray-200 flex justify-center">
            <div class="w-screen h-screen max-w-lg">
                <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <div id="content">{{{content}}}</div>
                </form>
            </div>
        </div>
    </body>
</html>
